.opacity {
  opacity: 0.5;
}

.modal-dialog {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
  border-radius: 4px;
  box-shadow: 5px 5px 10px black;
  background-color: white;
}

.modal-header {
  height: 40px;
  background-color: gray;
}

.modal-title {
  font-size: 24px;
  line-height: 36px;
  color: white;
  padding: 10px;
}

.modal-content {
  font-size: 18px;
  color: black;
  padding: 10px;
}

.modal-buttons {
  text-align: right;
  margin: 10px;
}
