body {
    font-family: Helvetica, Arial, sans-serif;
}

button {
    padding: 10px;
    border: 1px solid white;
    background-color: skyblue;
    font-size: 18px;
    border-radius: 4px;
    margin-right: 10px;
}

#table {
    background-color: cadetblue;
    margin: auto;
    padding: 20px;
    border: 1px solid navy;
    border-radius: 4px;
}

#player-hand, #dealer-hand {
    height: 200px;
    background-color: skyblue;
    margin: 10px 0px 20px 0px;
}

.card, #dealer-temp-card {
    height: 80px;
    padding: 10px;
}

.window {
    position: "relative";
    width: 100px;
    background-color: "ivory";
    border: "1px solid white";
    border-radius: "4px";
    margin: "auto";
}

#messages {
    font-size: 24px;
    margin-bottom: 10px;
}

#wins {
    margin: 20px 0px 20px 0px;
}

#lets-play {
    font-size: 36px;
    font-weight: bold;
}