/* #FF0A57 FOLLY
/* #F1F1F1 ANTIFLASH WHITE
/* #FAC228 SAFFRON
/* #3DBBC9 MAXIMUM BLUE GREEN
/* #173456 SPACE CADET


/* T E X T  S T Y L E S */

p {
    color: #173456; /* Space Cadet */
    font-family: 'Josefin Sans', serif;
    font-size: 16px;
    /* line-height: 26px; */
    padding-top: 10px;
  }

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

a.red-on-hover:hover {
    color: #3DBBC9;
    text-decoration: none;
}

a:visited {
    color: inherit;
    text-decoration: none;
}

h1 {
    color: #173456;
    font-family: 'Plaster', sans-serif;
    font-size: 18px;
}

h2 {
    color: #FF0A57;
    font-family: 'Rubik', sans-serif;
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
}

h3 {
    color: #173456;
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    font-weight: 900;
}

h4 {
    color: gray;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

h6 {
    color: #173456;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}


/* N A V  S T Y L E S */

 .navbar {
    background-color: white;
    border-bottom: 1px solid #F1F1F1;
    width: 100%;
}

a.nav-link, a.nav-link:hover, a.nav-link:visited, li.nav-item {
    color: #173456;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

button {
    background-color: transparent;
    border: none;
    border-radius: 4px;
    color: #3DBBC9;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 2px;
    padding: none;
    text-transform: uppercase;
}

/******** images ********/

img.logo {
    height: auto;
    width: 200px;
}

img.full {
    height: auto;
    width: 100%;
}

img.zoom:hover {
    transform: scale(1.1);
    transition: transform .5s;
    width: 100%; 
    height: auto; 
    object-fit: cover;
}

img.large-img {
    height: 400px;
    margin: 0px;
    object-fit: cover;
    padding: 0px;
    width: 100%;
    filter: grayscale(100%);
}

/******** layout ********/

div.layout {
    margin: 50px 0px 50px 0px;
}

div.large-block {
    background-color: white;
    display: table;
    height: 600px;
    text-align: center;
}

div.reverse-padding {
    padding: 20px;
}

div.gray-col {
    background-color: #F1F1F1;
    text-align: center;
}

div.white-col {
    background-color: white;
    text-align: left;
    width: 100%;
}

div.sm-gray-col {
    background-color: #F1F1F1;
    text-align: left;
    margin: 20px;
    min-height: 400px;
    padding: 0px;
    width: 100%;
}

div.sm-col-text {
    padding: 30px 20px 10px 20px;
}








