/******** #FBCED4 CLASSIC ROSE // #E9869C RUDDY PINK // #DC8C73 MIDDLE RED // #3F3A4D ARSENIC // #2B2B39 GUNMETAL ********/
/******** PARAGRAPH: Josefin+Sans:400,400i,600,600i | DISPLAY: Plaster | SMALL TEXT / DISPLAY: Rubik:400,400i,900,900i ********/

body {
    padding-top: 73px;
    background-color: #F1F1F1;
    padding-bottom: 60px;
}

img.full-width {
    width: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar {
    background-color: white;
}

.nav-link-text {
    color: #2B2B39;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600; 
}

.main-content {
    max-width: 800px;
    margin: auto;
    height: 100%;
}

.pink-back {
    background-color: #FBCED4;
}

.coral-back {
    background-color: #DC8C73;
}

.purple-back {
    background-color: #E9869C;
}

.box-padding {
    padding: 20px;
}

p {
    color: #2B2B39;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    padding-top: 10px;
}

p > a:visited {
    color: #2B2B39;
    text-decoration: none;
}

p > a:hover {
    color: #3F3A4D;
    text-decoration: none;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

h1 {
    color: #3F3A4D;
    font-family: 'Plaster', sans-serif;
}

h2 {
    color: #E9869C;
    font-family: 'Rubik', sans-serif;
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
    padding-bottom: 10px;
    line-height: 36px;
}

h3 {
    color: #FBCED4;
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    padding-bottom: 10px;
    line-height: 36px;
}

h4 {
    color: #3F3A4D;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    padding-bottom: 10px;
    line-height: 36px;
}

.footer {
    background-color: #2B2B39;
    padding: 10px;
    min-height: 300px;
}

.footer-link-text {
    color: white;
    font-size: 12px;
    font-family: "Rubik", sans-serif;
}