body {
  max-width: 800px;
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  color: gray;
  padding: 20px;
  margin: auto;
  text-align: center;
}

#content {
  display: table-cell;
  width: 500px;
  background-color: #fcf6b0;
  padding: 20px;
}

button {
  padding: 10px;
  border: none;
  background-color: lightGray;
  color: gray;
  font-size: 1em;
}
