/* colors #A9E5BB sea foam green, #FCF6B0 banana mania,
#F7C051 maximum yellow red, #F73F38 coral red, #150E16 licorice */


body {
  max-width: 100%;
  height: 100%;
  font-family: Georgia, serif;
  font-size: 21px;
  line-height: 36px;
  color: #150e16;
  /*padding: 20px;*/
  background-color: white;
  margin: auto;
}

#by_content {
  max-width: 650px;
  margin: 100px auto 25px auto;
  background-color: white;
  padding: 10px;
  text-align: left;
}

.content {
  max-width: 650px;
  margin: auto;
  background-color: white;
  padding: 10px;
  text-align: left;
}

header {
  margin: auto;
  background-color: white;
  padding: 0px 10px;
  position: fixed;
  top: 0;
  width: 100%;
}

h1 {
  font-family: Georgia, serif;
}

h2 {
  font-family: "Ubuntu", Helvetica, sans-serif;
}

h3 {
  font-family: "Ubuntu", Helvetica, sans-serif;
  padding-top: 40px;
}

h5 {
  font-family: "Ubuntu", Helvetica, sans-serif;
  color: #150e16;
  font-size: 14px;
  font-weight: normal;
}

h6 {
  font-family: "Ubuntu", Helvetica, sans-serif;
  color: gray;
  font-size: 14px;
  font-weight: lighter;
}

p.byline {
  font-family: "Ubuntu", Helvetica, sans-serif;
  color: #150e16;
  font-size: 14px;
  font-weight: normal;
  line-height: 10px;
}

p.tagline {
  font-family: "Ubuntu", Helvetica, sans-serif;
  color: gray;
  font-size: 14px;
  font-weight: lighter;
  line-height: 10px;
}

button.follow {
  font-family: "Ubuntu", Helvetica, sans-serif;
  color: #00BC7B;
  font-size: 14px;
  font-weight: lighter;
  border: 1px solid #00BC7B;
  border-radius: 4px;
  margin-left: 20px;
  background-color: white;
  line-height: 10px;
  padding: 5px 10px 5px 10px;
}

button.follow > a, a:visited, a:hover {
  color: #00BC7B;
  text-decoration: none;
}

button.signin {
  font-family: "Ubuntu", Helvetica, sans-serif;
  color: #00BC7B;
  font-size: 14px;
  font-weight: lighter;
  border: none;
  background-color: white;
  padding: 10px 0px 10px 0px;
}

button.signin > a, a:visited, a:hover {
  color: #00BC7B;
  text-decoration: none;
  padding-right: 10px;
}

button.getstarted {
  font-family: "Ubuntu", Helvetica, sans-serif;
  color: #00BC7B;
  font-size: 14px;
  font-weight: lighter;
  border: 1px solid #00BC7B;
  border-radius: 4px;
  background-color: white;
  padding: 10px 20px 10px 20px;
}

button.getstarted > a, a:visited, a:hover {
  color: #00BC7B;
  text-decoration: none;
}

p.tagline > a, a:visited, a:hover {
  color: gray;
  text-decoration: none;
}

p.caption > a, a:visited, a:hover {
  color: gray;
  text-decoration: underline;
}

p.byline > a, a:visited, a:hover {
  color: #150e16;
  text-decoration: none;
}

a, a:visited, a:hover {
  color: #150e16;
  text-decoration: underline;
}

img.auth_photo {
  padding: 20px 10px 0px 0px;
  width: 75px;
}

img.centered {
  width: 500px;
  display: block;
  margin: auto;
}

p.caption {
  font-family: "Ubuntu", Helvetica, sans-serif;
  color: gray;
  font-size: 14px;
  line-height: 10px;
  text-align: center;
}
