h1 {
  font-family: "Abril Fatface", serif;
  color: #50e5bd; /*teal*/
  font-size: 2.5em;
}

h2 {
  font-family: "Abril Fatface", serif;
  color: #50e5bd; /*teal*/
}

h3 {
  font-family: "Abril Fatface", serif;
  color: #50e5bd; /*teal*/
}

h4 {
  font-family: "Abril Fatface", serif;
  color: #50e5bd; /*teal*/
}

h5 {
  font-family: "Crimson Text", sans-serif;
  font-weight: 400;
  color: #50e5bd; /*teal*/
}

h6 {
  font-family: "Crimson Text", sans-serif;
  font-weight: 400;
  color: #50e5bd; /*teal*/
}

body {
  font-family: "Crimson Text", sans-serif;
  color: #2d3047; /*dark indigo*/
  /*background-color: #fffd98; /*yellow*/
  margin: 5em;
}

a {
  color: #e84855; /*red*/
}

hr {
  border: 1px solid #ff9b71; /*orange*/
}
