body {
  font-family: Helvetica, sans-serif;
  color: red;
}

div#leftcolumn {
  height: 100%;
  width: 300px;
  position: absolute;
  left: auto;
  top: 0;
  background-color: #a9e5bb;
  margin: 0px;
}

div#rightcolumn {
  position: absolute;
  left: 310px;
  height: 100%;
  top: 0;
  width: 100%;
  background-color: ivory;
  margin: 0px;
}
