body {
  font-family: Helvetica, sans-serif;
  color: red;
}

div#container {
  height: 100%;
  width: 100%
  top: 0;
  left: 0;
}

div#leftcolumn {
  height: 100%;
  width: 20%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #a9e5bb;
  margin: 0px;
  padding: 10px;
}

div#rightcolumn {
  position: absolute;
  left: 20%;
  height: 100%;
  top: 0;
  width: 100%;
  background-color: ivory;
  margin-left: 10px;
  padding: 10px
}
