body {
  font-family: Helvetica, sans-serif;
  color: red;
}

div#container {
  display: table-cell;
  height: 80%;
  width: 100%
  top: 0;
  left: 0;
}

div#top {
  display: table-cell;
  height: 10%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: lime;
  overflow: auto;
  margin: 0px;
  padding: 10px;
}

div#leftcolumn {
  display: table-cell;
  height: 80%;
  width: 20%;
  position: absolute;
  left: 0;
  top: 10%;
  background-color: #a9e5bb;
  overflow: auto;
  margin: 0px 10px 0px 0px;
  padding: 10px;
}

div#middlecolumn {
  display: table-cell;
  height: 80%;
  width: 60%;
  position: absolute;
  top: 10%;
  left: 20%;
  right: 20%;
  background-color: beige;
  overflow: auto;
  margin: 0px 10px 0px 10px;
  padding: 10px;
}

div#rightcolumn {
  display: table-cell;
  height: 80%;
  width: 20%;
  position: absolute;
  top: 10%;
  right: 0;
  background-color: ivory;
  overflow: auto;
  margin: 0px 0px 0px 10px;
  padding: 10px;
}

div#bottom {
  display: table-cell;
  height: 10%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 90%;
  background-color: pink;
  overflow: auto;
  margin: 0px;
  padding: 10px;
}
